.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    width: 100%;
    display: block;
    height: 100%;
}

.NavigationItem a {
    color: #4A4A4A;
    text-decoration: none;
    height: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .NavigationItem a {
        color: white;
        font-weight: 100;
        text-transform: uppercase;
        text-decoration: none;
        height: 100%;
        padding: 16px 10px;
        border-break: 4px solid transparent;
        box-sizing: border-box;
        display: block;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #4A4A4A;
        border-bottom: 5px solid #40A4C8;
        color: white;
    }
}