.Gift {
    width: 250px;
    text-align: center;
    /*border: 1px solid #eee;*/
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Gift:hover,
.Gift:active {
    box-shadow: 0 2px 3px #40A4C8;
}

.Gift img {
    width: inherit;
}

.Name {
    font-weight: 700;
}
.Desc {
    padding: 16px;
}
